# for looop

In [1]:
l=[1,2,3,4,"sudh","kumar",45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
for i in l :
    pass

In [4]:
s = "sudh"

In [5]:
for i in s :
    print(i)

s
u
d
h

In [6]:
for i in l :
    print(i)
else :
    print("if for for loop is going to complete itself then it will execute else")

1
2
3
4
sudh
kumar
45.56
if for for loop is going to complete itself then it will execute else

In [7]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [8]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [9]:
s = "sudhanshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print string" , s )

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [10]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [11]:
b = {4,5,6,7,7,7,7,7,7,8,"sudh"}

In [12]:
type(b)

set

In [13]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [14]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [15]:
d = {'key1' : "sudh" , 'contact' : "sudhanshu@ineuron.ai" , "position" : "xyz"}

In [16]:
for i in d :
    print(i)

key1
contact
position

In [17]:
for i in d :
    print(i,":",d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

# Range function :

In [18]:
range(9)

range(0, 9)

In [19]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
 for i in range(9) :
        print(i)

0
1
2
3
4
5
6
7
8

In [21]:
range(0,9)

range(0, 9)

In [22]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [23]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
n = 4
for i in range(4) :
    for j in range (0,i+1):
        print("sudh" , end = "   ")
    print()

sudh
sudh   sudh
sudh   sudh   sudh
sudh   sudh   sudh   sudh

In [25]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)) :
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [26]:
for i in t :
    print(i)

3
23
45
67
2
4
5
6

In [27]:
s = "ineuron"
for i in range(len(s)) :
    print(i, s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [28]:
s

'ineuron'

In [29]:
for i in range(len(s)-1, -1 , -1) :
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [30]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [31]:
for i in d.items() :
    print( i , type(i) , type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [32]:
l = ["sudh" , "kumar" , 3234545 , "sudhanshu@ineuron.ai" , 345 , 3434657465]
l1 = []
for i in l :
    if type(i) == int :
         l1.append(i)

In [33]:
l1

[3234545, 345, 3434657465]

In [34]:
d = {1 : 3344555 , "name" : "sudh" , "email_id" : "sudhanshu@ineuron.ai", 234 : "fsfdsfds" , "43" : "sdfsfd" , 234 : "3434"}

In [35]:
for i in d :
    if type(i) == int :
        print(i,":" , d[i])

1 : 3344555
234 : 3434

In [36]:
s = "aaaabbbccd"

set(s)

{'a', 'b', 'c', 'd'}

In [37]:
for i in set(s):
  print(i , ":" , s.count(i))

a : 4
d : 1
b : 3
c : 2

In [38]:
i = 3454565565565565
for j in str(i) :
    print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
5 <class 'int'>
5 <class 'int'>
6 <class 'int'>
5 <class 'int'>
5 <class 'int'>
6 <class 'int'>
5 <class 'int'>
5 <class 'int'>
6 <class 'int'>
5 <class 'int'>

In [39]:
str(i)

'3454565565565565'

In [40]:
i

3454565565565565

In [41]:
t = ("sudh" , "kumar" ,[1,2,3,4,5] , (3,4,5,6), {3:3 , "key2" : "kumar"})

In [46]:
for i in t :
    if type(i)== list or type(i) == tuple or type(i) == dict :
        for j in i :
            if j == 3: 
                print(j)
    if type(i)==dict :
        for k,v in i.items() :
            if k==3 or v==3 :
                print(k)
                print(v)

3
3
3
3
3

In [51]:
d = {4:5 , "key1" : "sudh" , "key2" : "kumar"}

In [54]:
for i,j in d.items() :
    print(i)

4
key1
key2

In [53]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])